main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.linha{
    display: flex;
    justify-content: center;
}
.player{
    color: #00A1D7;
    font: 400;
}
p{
    font-size: 8rem;
}
